doctype html
html(lang="ar" dir="rtl")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title market
        link(rel="stylesheet", href="css/bootstrap4.min.css")
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous">
        <link rel="Shortcut Icon" href="images/X.svg">
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        

    body
        a(href="https://api.whatsapp.com/send/?phone=+249%2090%20114%201639&text&app_absent=0", class="button-conenct")
            span دردش الأن
            <i class="far fa-comment"></i>
        header
            section(class="up-navbar")
                .container 
                    .row 
                        div(class="col-md-6 text-md-right right")
                            ul 
                                li 
                                    a(href="#") من نحن ؟
                                li 
                                    a(href="#") افضل الصفقات
                        div(class="col-md-6 text-left left")
                            ul 
                                li 
                                    a(href="#") 
                                        span الشحن إلى
                                        <i class="fas fa-caret-down"></i>
                                        i(class="fa fas-angle-down")
                                        img(src="images/ca1.png", alt="", srcset="")
                                li 
                                    a(href="#") العربية
            section(class="center-menu-nav text-center")
                .container 
                    .row 
                        div(class="logo")
                            img(src="images/X.svg", alt="", srcset="", width="77PX")
                        div(class="search")
                            form(action="") 
                                
                                <select name="cars" class="btn-1">
                                    <option value="other">الكل</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                </select>
                                input(type="search", placeholder="ما الذي تبحث عنه ؟")
                                button(class="btn-2") 
                                    <i class="fas fa-search"></i>
                        div(class="button-end")
                            a(class="add-car", href="#")
                                <i class="fas fa-shopping-cart"></i>
                                span السلة
                                
                            a(href="#", class="login") تسجيل الدخول
            section(class="nav-end")
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="#" style="    color: #523928;" class="login-x">تسجيل الدخول</a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        .container 
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link dropdown" href="#">جميع الملفات  <i class="fas fa-caret-down"></i><span class="sr-only">(current)</span></a>
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">تصنيف -1</a>
                                </li>
                            </ul>
                    </div>
                </nav>
            section(class="sliderx")
                .container
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img class="d-block w-100 h-400px" src="images/slide-1.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block w-100 h-400px" src="images/slide-2.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block w-100 h-400px" src="images/slide-3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <div class="x">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            
                                <span class="sr-only">Previous</span>
                            </div>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <div class="x">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </div>
                        </a>
                    </div>
            <!--start catgre-->
        section(class="catogre")
            .container 
                .row 
                    div(class="col-md-3")
                        div(class="boxs")
                            h6 عروض وتخفيضات
                            img(src="images/x0.png", alt="", srcset="")
                            a(href="#") مشاهدة المزيد
                    div(class="col-md-3")
                        div(class="boxs")
                            h6 عروض وتخفيضات
                            img(src="images/44@2x.png", alt="", srcset="")
                            a(href="#") مشاهدة المزيد
                    div(class="col-md-3")
                        div(class="boxs")
                            h6 عروض وتخفيضات
                            img(src="images/33.png", alt="", srcset="")
                            a(href="#") مشاهدة المزيد
                    div(class="col-md-3")
                        div(class="boxs")
                            h6 عروض وتخفيضات
                            img(src="images/images.png", alt="", srcset="")
                            a(href="#") مشاهدة المزيد
        <!--start goods-->
        section(class="goods text-rigth")
            .container
                div(class="other d-flex")
                    h6 مقترحة لك
                    a(href="#") عرض الكل
                div(class="owl-carousel owl-goods owl-theme")
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة  
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                div(class="borderx d-flex")
                    div(class="border-x")
        <!--end gooods--->
        <!--start banar--->
        section(class="baner")
            .container 
                h6(class="text-right") مواد البناء
                img(src="images/slide-1.jpg", alt="", srcset="")
        section(class="goods text-rigth")
            .container
                div(class="other d-flex")
                    h6 مقترحة لك
                    a(href="#") عرض الكل
                div(class="owl-carousel owl-goods owl-theme")
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                div(class="borderx d-flex")
                    div(class="border-x")
        <!--start banar--->
        section(class="baner")
            .container 
                h6(class="text-right") مواد البناء
                img(src="images/slide-1.jpg", alt="", srcset="")
        section(class="goods text-rigth")
            .container
                div(class="other d-flex")
                    h6 مقترحة لك
                    a(href="#") عرض الكل
                div(class="owl-carousel owl-goods owl-theme")
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/x0.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير مواسير مواسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    <!--item goods-->
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                    div(class="item text-right")
                        img(src="images/images.png", alt="", srcset="")
                        div(class="body-goods")
                            h6 مواسير x مواsسير
                            h6 مواسير مواسير مواسير 
                            div(class="much")
                                span(class="in100") OFF 20%
                                span(class="much-d") 91$
                            div(class="add-car")
                                button(class="car")
                                    <i class="fas fa-shopping-cart"></i>
                                    span(class="add")  اضافة للسلة 
                                span(class="much-t") 91$
                div(class="borderx d-flex")
                    div(class="border-x")
        footer(class="text-right")
            .container 
                .row 
                    .col-md-3 
                        h6 اعرف المزيد عنا
                        ul(class="list")
                            li 
                                a(href="") معلومات عن تشطيب
                            li 
                                a(href="") تواصل معنا
                    .col-md-3 
                        h6 كن شريكاً معنا
                        ul(class="list")
                            li 
                                a(href="#") البيع على تشطيب
                            li 
                                a(href="#") الشحن مع تشطيب
                            li 
                                a(href="#") أنضم لنا
                            li 
                                a(href="#") أعلن عن منتجاتك
                    .col-md-2 
                        h6 كن شريكاً معنا
                        ul(class="list")
                            li 
                                a(href="#") المساعدة
                            li 
                                a(href="#") سياسات واسعار الشحن
                            li 
                                a(href="#") طلب الارجاع والاستبدال
                            li 
                                a(href="#") تحميل تطبيق تشطيب
                    .col-md-4
                        h6 تابعنا ليصلك كل جديد
                        form(action="#" )
                            input(type="email", placeholder="البريد الالكتروني") 
                            button اشتراك
                        div(class="social ")
                            h6 تابعنا على الشبكات الاجتماعية
                            .d-flex
                                a(href="#")
                                    <i class="fab fa-facebook-f"></i>
                                a(href="#")
                                    <i class="fab fa-instagram"></i>
                                a(href="#")
                                    <i class="fab fa-snapchat-ghost"></i>
                                a(href="#")
                                    <i class="fab fa-twitter"></i>
                                a(href="#")
                                    <i class="fab fa-youtube"></i>
        section(class="end text-right")
            .container
                p
                | &copy; 2016 |
                i.fa.fa-value(aria-hidden='true') &nbsp;
                a(href='#', class="h") جميع الحقوق محفوظة لدى تشطيب
                a(href="#", class="code") Programming & Coding By Mohammed Elrayah & Walid Mohamed

                        

                            
                        
                                


                    
                

                                




                    
                

                                
                        
                        
                        
                        
                        
                        


                        
                        

                
     
        script(src="js/jquery-3.3.1.min.js")
        script(src="js/bootstrap4.min.js") 
        script(src="js/owl.carousel.min.js") 
        script(src="js/main.js") 
